<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
   <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filtragem de dados - Estoque</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap"
      rel="stylesheet"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}"/>

</head>
<body>

    <header>

        <h4>Arquivo processado com sucesso(a)! 👋</h4>
        <h1>Filtragem e organização do Estoque</h1>
        <form class="no-style" action="https://evening-coast-03073.herokuapp.com/success" method="GET">
        <button>Download do Arquivo</button>
        </form>
        <img src="{{ url_for('static',filename='sources/logo.png') }}" alt="logotipoCBC"/>

    </header>

</body>
</html>